.contenedor{
    background-color: lightgray;
    margin: auto;
    width: 80%;
    padding:10px;
    overflow: auto;
    border: 3px dotted gray;
}


br{
    clear: both;
}

.header{
    background-color: yellow;
    width: 100%;
    padding-bottom: 3px;
    border: 1px solid black;
}
.section{
    margin-top: 30px;
    background-color: lightgreen;
    padding: 5px;
    width:70%;
    float: left;
    border: 1px solid black;
    overflow: auto;
}

.aside{
    background-color: lightblue;
    float: right;
    width: 25%;
    height:290px;
    border: 1px solid black;
    margin-top: 30px;
}

.article_container{
    background-color: orange;
    padding: 2px;
    border: 1px solid black;
    overflow: auto;
    
}
.titulo{
    background-color: white;
    width: 65%;
    margin: 5px;
    border: 1px solid black;
    float: left;    
}
.descripcion{
    background-color: white;
    width: 65%;
    height: 200px;
    margin: 5px;
    border: 1px solid black;
    float: left;
}

.img1{
    float: right;
    background-color: white;
    width: 25%;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
}

#footer{
    background-color: yellow;
    margin-top:20px;
    padding: 1px;
    border: 1px solid black;
}

